.env
.admin.txt
.directory.txt
.github info.txt
#.appunti metaglossario gestisco.txt
.AAA - ATTIVARE VIRTUALENV.txt
#.Log operazioni svolte metaglossario.txt
.to do.txt
.spiegazione interfaccia metaglossario 5.jpg