.nav-item:hover { 
    background-color: #485058f3;
}

/*.navbar {    
     border: 0px; 
}*/

.nav-item {

    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}

/* ------- dropdown menu -------  */

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}