{% extends 'base.html'%} <!-- vuol dire inserisci qui la navigation toolbar contenuta in base -->

{% block content %}

{% load static %}

    <h1>Tutorial per amministratori</h1>
    
    <br>

    <p>Di seguito è disponibile una serie di video-tutorial che illustrano il funzionamento delle componenti del metaglossario riservate agli amministratori.</p>

    <br>

    <h3>Gli strumenti per la gestione della terminologia</h3>
    <p>Questa playlist offre una panoramica sulle componenti che permettono il funzionamento del metaglossario e sugli strumenti che consentono agli amministratori di gestire la terminologia. Vengono riportati inoltre alcuni esempi</p>


    <br>

    <div style="text-align:center">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/videoseries?list=PL7TibDAktHgM7F8jTGkE9Kp7CbX-CzyUk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <br><br>

    <h3>Esempi di gestione della terminologia</h3>
    <p>Questa playlist mostra alcuni esempi di gestione della terminologia inserita dagli utenti. Viene spiegato nel dettaglio il funzionamento degli algoritmi per la gestione della terminologia e viene illustrato come deve operare l'amministratore per modificare i dati e abilitarli alla visualizzazione nel glossario. Infine viene mostrata una casistica completa su come gli algoritmi gestiscono le informazioni mancanti e quali output possono essere generati al variare delle informazioni fornite in input dagli utenti del metaglossario.</p>


    <br>

    <div style="text-align:center">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/videoseries?list=PL7TibDAktHgM8JUT6wue1iT6LdjYaEqUv" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>



<!-- CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href={% static "css/file.css" %}> {% endcomment %}

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}

{% endblock %}