{% extends 'base.html'%} <!-- vuol dire inserisci qui la navigation toolbar contenuta in base -->

 

{% block content %}

    <h1>Aggiungi glossario</h1>

    <br>

    <p id="firstpar">
        Questo widget serve ad inserire nuova terminologia nel <a href={% url "glossario" %}>glossario</a> del progetto GESTI.S.CO Interreg IT-CH.<br>
        Il widget consente di inserire più record di terminologia alla volta, cioè un glossario.
    </p>

    <p id="firstpar">
        Scaricare il template e compilarlo come indicato dal documento stesso. Quindi caricare il documento.
    </p>

    <p id="firstpar"></p>
        Tutti i campi sono facoltativi, <u>tranne la data di inserimento della terminologia</u>.<br> <!--qua devo fare l'autogenerazione di id statico e data di inserimento-->
        La terminologia inserita dagli utenti sarà soggetta a revisione da parte dell'amministratore del sito prima di essere mostrata nel glossario.<br>
    </p>


    <br>

    <!-- scarica template glossario -->
    

    <p>        
    <form method="get" action="static/files_for_download/template_glossario.xlsx">
    <div class="container"></div>
        <button type="submit" class="btn btn-success">Scarica template</button>
    </div>
    </form>
    </p>

    <div class="container">   
    <small id="inputHelp" class="form-text text-muted">NOTA: Non rinominare le colonne del template.</small>     
    </div>  
                 
            

    <br>

    

    <!-- carica glossario -->
    <p>
    <form class="container" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}

        <div class="file-upload-wrapper" id="input-file-now">

            <small id="inputHelp" class="form-text text-muted">Seleziona il file excel contenente il glossario da caricare.</small>                  
            <input type="file"  id="input-file-now" data-max-file-size="5M" class="file-upload">
            
            <br><br>

            <button type="submit" class="btn btn-primary">Carica glossario</button>
        </div>

    </form>
    </p>






    <br><br><br><br>
    




<!-- CSS -->
{% load static %}  <!-- Qui il tag è obbligatorio nonostante sia stato inserito dentro base.html -->
<link rel="stylesheet" type="text/css" href={% static "css/searchbar_style.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/upload_glossary_slot.css" %}>

<!-- Javascript -->
<!-- <script type="text/javascript" src={% static "js/drag_and_drop_glossario.js" %}></script> --> 
<!-- <!-- <script> drag_and_drop_glossario() </script>  -->
<!-- script caricato ma non runnato -->

{% endblock %}
