{% extends 'base.html'%} <!-- vuol dire inserisci qui la navigation toolbar contenuta in base -->

{% block content %}

{% load static %}

    <h1>Glossario</h1>
    
    <br>

    <!-- Barra di navigazione  -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- questo fa apparire il pulsantino di ricerca -->
    <!-- questo fa apparire il pulsantino di ricerca -->

    <div class="topnav">
        
        <a id="pulsante_ricerca_avanzata" href="#Ricerca_avanzata" onclick="popup_istruzioni_ricerca_avanzata()">Ricerca filtrata</a>
        
        <!-- vai all'indice -->
        <a id="goto_index_button" href="{% url 'indice_glossario' %}">Indice glossario</a>

        {% comment %} <a id="goto_index_button" href="{% url 'indice_glossario' %}"><i class="fa fa-list-ul" aria-hidden="true"></i></a>   {% endcomment %}

        <div id="blocco_ricerca_semplice" class="search-container">

          <form method="GET" action="{% url 'glossario' %}">
            
            <input id="testo_slot_ricerca_semplice"  type="text" placeholder="Ricerca terminologia..." name="q" value="{{request.GET.q}}">  <!-- è il nome che ho dato anche nella views.py -->
            <!-- name dentro input text vuol dire il sintagma che viene dato all'url di tutte le query, seguito da un = per indicarne il bersaglio'  -->
            
            

            <!-- #cerca -->
            <button id="search_button" type="submit"><i class="fa fa-search"></i></button>

            
            <!-- cancella query -->
            <button id="cancel_search_button" type="submit" onclick="Delete_simple_search()"><i class="fa fa-trash"></i></button>
            
            
            <!-- onclick="window.location.href=???{% url 'indice_glossario' %}???" -->

          </form>

          
        </div>

    </div>


    <br>

<!-- visualizzazione glossario intero o risultati ricerca -->

    {% if all_entries %}

        {% for entry in all_entries %}

            {% if entry.Admin_approval_switch == "show" %}
            <!-- django vuole lo spazio tra gli operatori di uguaglianza o disuguaglianza -->

                    <div class="card">
                        <div class="card-body">

                            <!-- se ci sono campi italiani e svizzeri -->
                        {% if entry.Lemma_it and entry.Lemma_ch %}

                            <h5 class="card-title"><element style="font-weight: bold">Lemma <img src="{% static 'img/it_flag_icon.png' %}" style="width:20px;" align="bottom" alt="italy flag icon" >: </element>{{ entry.Lemma_it }}</h5>

                            <h5 class="card-title"><element style="font-weight: bold">Lemma <img src="{% static 'img/ch_flag_icon.png' %}" style="width:20px;" align="bottom" alt="switzerland flag icon" >: </element>{{ entry.Lemma_ch }}</h5>

                        {% else %}

                            {% if entry.Lemma_it %}
                                <p class="card-text"><h4 class="card-title">{{ entry.Lemma_it }}</h4></p>
                            {% endif %}


                            {% if entry.Lemma_ch %}
                                <p class="card-text"><h4 class="card-title">{{ entry.Lemma_ch }}</h4></p>
                            {% endif %}

                        {% endif %}


                        {% if entry.Acronimo_it %}
                            <p class="card-text"><b>Acronimo <img src="{% static 'img/it_flag_icon.png' %}" style="width:20px;" align="bottom" alt="italy flag icon" >:</b> {{ entry.Acronimo_it }}</p>
                        {% endif %}

                        {% if entry.Acronimo_ch %}
                            <p class="card-text"><b>Acronimo <img src="{% static 'img/ch_flag_icon.png' %}" style="width:20px;" align="bottom" alt="switzerland flag icon" >:</b> {{ entry.Acronimo_ch }}</p>
                        {% endif %}

                        {% if entry.Definizione_it %}
                            <p class="card-text"><b>Definizione <img src="{% static 'img/it_flag_icon.png' %}" style="width:20px;" align="bottom" alt="italy flag icon" >:</b> {{ entry.Definizione_it }}</p>
                        {% endif %}

                        {% if entry.Definizione_ch %}
                            <p class="card-text"><b>Definizione <img src="{% static 'img/ch_flag_icon.png' %}" style="width:20px;" align="bottom" alt="switzerland flag icon" >:</b> {{ entry.Definizione_ch }}</p>
                        {% endif %}

                        {% if entry.Ambito_riferimento_it %}
                            <p class="card-text"><b>Ambito di riferimento del concetto <img src="{% static 'img/it_flag_icon.png' %}" style="width:20px;" align="bottom" alt="italy flag icon" >:</b> {{ entry.Ambito_riferimento_it }}</p>
                        {% endif %}

                        {% if entry.Ambito_riferimento_ch %}
                            <p class="card-text"><b>Ambito di riferimento del concetto <img src="{% static 'img/ch_flag_icon.png' %}" style="width:20px;" align="bottom" alt="switzerland flag icon" >:</b> {{ entry.Ambito_riferimento_ch }}</p>
                        {% endif %}

                        {% if entry.Autore_definizione_it %}
                            <p class="card-text"><b>Autore della definizione <img src="{% static 'img/it_flag_icon.png' %}" style="width:20px;" align="bottom" alt="italy flag icon" >:</b> {{ entry.Autore_definizione_it }}</p>
                        {% endif %}

                        {% if entry.Autore_definizione_ch %}
                            <p class="card-text"><b>Autore della definizione <img src="{% static 'img/ch_flag_icon.png' %}" style="width:20px;" align="bottom" alt="switzerland flag icon" >:</b> {{ entry.Autore_definizione_ch }}</p>
                        {% endif %}

                        {% if entry.Posizione_definizione_it %}
                            <p class="card-text"><b>Posizione della definizione nel documento fonte <img src="{% static 'img/it_flag_icon.png' %}" style="width:20px;" align="bottom" alt="italy flag icon" >:</b> {{ entry.Posizione_definizione_it }}</p>
                        {% endif %}

                        {% if entry.Posizione_definizione_ch %}
                            <p class="card-text"><b>Posizione della definizione nel documento fonte <img src="{% static 'img/ch_flag_icon.png' %}" style="width:20px;" align="bottom" alt="switzerland flag icon" >:</b> {{ entry.Posizione_definizione_ch }}</p>
                        {% endif %}

                        {% if entry.Url_definizione_it %}
                            <p class="card-text"><b>URL della definizione <img src="{% static 'img/it_flag_icon.png' %}" style="width:20px;" align="bottom" alt="italy flag icon" >:</b> <a href="{{ entry.Url_definizione_it }}" target="_blank">{{ entry.Url_definizione_it }}</a></p>
                        {% endif %}

                        {% if entry.Url_definizione_ch %}
                            <p class="card-text"><b>URL della definizione <img src="{% static 'img/ch_flag_icon.png' %}" style="width:20px;" align="bottom" alt="switzerland flag icon" >:</b> <a href="{{ entry.Url_definizione_ch }}" target="_blank">{{ entry.Url_definizione_ch }}</a></p>
                        {% endif %}

                        {% if entry.Titolo_documento_fonte_it %}
                            <p class="card-text"><b>Titolo del documento fonte <img src="{% static 'img/it_flag_icon.png' %}" style="width:20px;" align="bottom" alt="italy flag icon" >:</b> {{ entry.Titolo_documento_fonte_it }}</p>
                        {% endif %}

                        {% if entry.Titolo_documento_fonte_ch %}
                            <p class="card-text"><b>Titolo del documento fonte <img src="{% static 'img/ch_flag_icon.png' %}" style="width:20px;" align="bottom" alt="switzerland flag icon" >:</b> {{ entry.Titolo_documento_fonte_ch }}</p>
                        {% endif %}

                        {% if entry.Autore_documento_fonte_it %}
                            <p class="card-text"><b>Autore del documento fonte <img src="{% static 'img/it_flag_icon.png' %}" style="width:20px;" align="bottom" alt="italy flag icon" >:</b> {{ entry.Autore_documento_fonte_it }}</p>
                        {% endif %}

                        {% if entry.Autore_documento_fonte_ch %}
                            <p class="card-text"><b>Autore del documento fonte <img src="{% static 'img/ch_flag_icon.png' %}" style="width:20px;" align="bottom" alt="switzerland flag icon" >:</b> {{ entry.Autore_documento_fonte_ch }}</p>
                        {% endif %}

                        {% if entry.Host_documento_fonte_it %}
                            <p class="card-text"><b>Host del documento fonte <img src="{% static 'img/it_flag_icon.png' %}" style="width:20px;" align="bottom" alt="italy flag icon" >:</b> {{ entry.Host_documento_fonte_it }}</p>
                        {% endif %}

                        {% if entry.Host_documento_fonte_ch %}
                            <p class="card-text"><b>Host del documento fonte <img src="{% static 'img/ch_flag_icon.png' %}" style="width:20px;" align="bottom" alt="switzerland flag icon" >:</b> {{ entry.Host_documento_fonte_ch }}</p>
                        {% endif %}

                        {% if entry.Url_documento_fonte_it %}
                            <p class="card-text"><b>URL del documento fonte <img src="{% static 'img/it_flag_icon.png' %}" style="width:20px;" align="bottom" alt="italy flag icon" >:</b> <a href="{{ entry.Url_documento_fonte_it }}" target="_blank">{{ entry.Url_documento_fonte_it }}</a></p>
                        {% endif %}

                        {% if entry.Url_documento_fonte_ch %}
                            <p class="card-text"><b>URL del documento fonte <img src="{% static 'img/ch_flag_icon.png' %}" style="width:20px;" align="bottom" alt="switzerland flag icon" >:</b> <a href="{{ entry.Url_documento_fonte_ch }}" target="_blank">{{ entry.Url_documento_fonte_ch }}</a></p>
                        {% endif %}


                        {% if entry.Data_inserimento_entry %}
                            <p class="card-text"><b>Data di inserimento delle informazioni:</b> {{ entry.Data_inserimento_entry }}</p>
                        {% endif %}

                        {% if entry.Id_statico_entry %}
                            <p class="card-text"><b>ID delle informazioni:</b> {{ entry.Id_statico_entry }}</p>
                        {% endif %}


                        <p>
                        {% if entry.Url_definizione_it %}
                            <a href="{{entry.Url_definizione_it}}" Target= "_blank" class="btn btn-success">Definizione IT</a> &nbsp
                        {% endif %}

                        {% if entry.Url_definizione_ch %}
                            <a href="{{entry.Url_definizione_ch}}" Target= "_blank" class="btn btn-danger">Definizione CH</a>
                        {% endif %}
                        </p>

                        <p>
                        {% if entry.Url_documento_fonte_it %}
                            <a href="{{entry.Url_documento_fonte_it}}" Target= "_blank" class="btn btn-success">Documento fonte IT</a> &nbsp
                        {% endif %}

                        {% if entry.Url_documento_fonte_ch %}
                        <a href="{{entry.Url_documento_fonte_ch}}" Target= "_blank" class="btn btn-danger">Documento fonte CH</a>
                        {% endif %}
                        </p>



                    </div>
                </div>

                <br>

            {% endif %} <!--questo if è per pubblicare il contenuto solo se lo switch della review è passata-->

        {% endfor %}

    {% endif %}


    <br><br> <!-- spazio dopo i risultati impaginati -->       

    <div class="navigation" id="navigation_box">
    <!-- navigation è una classe inventata -->

        <nav aria-label="...">
            <ul class="pagination">
                
            <!-- Se la q ha ricevuto un input = la search bar ha inserito input -->    
            {% if query %}
                                
                {% if all_entries.has_previous %}
                
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page=1">&laquo; Prima pagina</a> 
                    </li>
                        
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page={{ all_entries.previous_page_number }}">{{ all_entries.previous_page_number }}</a>
                    </li>

                {% else %}

                    <li class="page-item disabled" >
                        <a  class="page-link" href="#" id="tasto_navigazione_pagina_disabilitato" class="page-item disabled">&laquo; Prima pagina</a>  
                    </li>

                {% endif %}


                <li class="page-item active">
                <a class="page-link" id="active_page_sign" href="#">{{ all_entries.number }}<span class="sr-only">(current)</span></a>
                </li>


                {% if all_entries.has_next %}
                    
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page={{ all_entries.next_page_number }}">{{ all_entries.next_page_number }}</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page={{ all_entries.paginator.num_pages }}">Ultima pagina [ {{ all_entries.paginator.num_pages }} ] &raquo;</a> 
                    </li>

                {% else %}

                    <li class="page-item disabled" >
                    <a class="page-link" href="#" id="tasto_navigazione_pagina_disabilitato" class="page-item disabled">Ultima pagina [ {{ all_entries.paginator.num_pages }} ] &raquo;</a>  
                    </li> 
                
                {% endif %}

        <!-- Se la q è vuota = la search bar non ha inserito input -->
        {% else %}

        
            {% if all_entries.has_previous %}
                        
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; Prima pagina</a> 
                </li>
                    
                <li class="page-item">
                    <a class="page-link" href="?page={{ all_entries.previous_page_number }}">{{ all_entries.previous_page_number }}</a>
                </li>

            {% else %}

                <li class="page-item disabled"  >
                    <a class="page-link" href="#" id="tasto_navigazione_pagina_disabilitato" class="page-item disabled">&laquo; Prima pagina</a>  
                </li> 

            {% endif %}


            <li class="page-item active">
            <a class="page-link" id="active_page_sign" href="#">{{ all_entries.number }}<span class="sr-only">(current)</span></a>
            </li>


            {% if all_entries.has_next %}
                
                <li class="page-item">
                    <a class="page-link" href="?page={{ all_entries.next_page_number }}">{{ all_entries.next_page_number }}</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?page={{ all_entries.paginator.num_pages }}">Ultima pagina [ {{ all_entries.paginator.num_pages }} ] &raquo;</a> 
                </li>

            {% else %} 

                <li class="page-item disabled"  >
                <a class="page-link" href="#" id="tasto_navigazione_pagina_disabilitato" class="page-item disabled">Ultima pagina [ {{ all_entries.paginator.num_pages }} ] &raquo;</a>  
                </li> 
            
            {% endif %}


        {% endif %}

            </ul>
        </nav>



        <!-- navigatore di paginazione manuale -->
        
        {% if query %}

            <form method="GET" >
                    <nav aria-label="...">
                        <ul class="pagination">
                        
                        <li class="page-item disabled" ><a id="vai_alla_pagina_disabilitato" class="page-link" >Vai alla pagina: </a></li>
                        <li class="hidden"><input type="hidden" name="q" value="{{request.GET.q}}"></li>
                        <li class="page-item"><input id="page_slot" style="width: 60px" class="page-link" name="page"></li>                    
                        <li class="page-item">&nbsp&nbsp&nbsp<button type="submit" class="btn btn-primary" href="?q={{query}}&page={{page}}">Vai</button></li>
                        </ul>
                        
                    </nav>
                </form>

        {% else %}

        <!-- se la query è vuota questo funziona -->

            <form method="GET" action="{% url 'glossario' %}">
                    <nav aria-label="...">
                        <ul class="pagination">
                        
                        <li class="page-item disabled" ><a id="vai_alla_pagina_disabilitato" class="page-link" >Vai alla pagina: </a></li>
                        <li class="page-item" ><input style="width: 60px; color:grey" class="page-link" name="page" value=""></li>
                        <li class="page-item">&nbsp&nbsp&nbsp<button type="submit" class="btn btn-primary">Vai</button></li>
                        </ul>
                        
                    </nav>
                </form>

            
        {% endif %}

    </div>            
    

    


{% load static %}   <!-- Qui il tag è obbligatorio nonostante sia stato inserito dentro base.html -->


<!-- CSS -->
<link rel="stylesheet" type="text/css" href={% static "css/searchbar_style.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/pagination_box_style.css" %}>

<!-- Javascript -->
<script type="text/javascript" src={% static "js/delete_simple_search.js" %}></script>
<script type="text/javascript" src={% static "js/popup_alert.js" %}></script>


{% endblock %}
