{% extends 'base.html'%} <!-- vuol dire inserisci qui la navigation toolbar contenuta in base -->

{% block content %}
    <h1>Il progetto GESTI.S.CO</h1>

    <br>
    <p>Questo sito web è predisposto ad ospitare il glossario del <a href="https://interreg-italiasvizzera.eu/progetti/gestisco/">Progetto GESTI.S.CO Interreg Italia-Svizzera</a>.</p>
    <p>Il progetto <b>GESTISCO - Gestione e coordinamento delle emergenze e delle catastrofi senza confini</b>  ha l’obiettivo di <b>rafforzare la governance transfrontaliera tra Italia e Svizzera nella gestione delle emergenze</b>.</p>
    <p>Le istituzioni partner hanno organizzazioni differenti, informazioni disomogenee e non sempre condivise, procedure operative indipendenti e strumenti non integrati; risulta, quindi, necessario intervenire con azioni di governance per strutturare una rete di conoscenza e instaurare rapporti duraturi, in modo tale da rendere effettivamente possibili la collaborazione, il supporto e il mutuo soccorso tra le istituzioni in caso di necessità, come previsto da accordi vigenti a livello nazionale e regionale.</p> 
    <p>Il progetto mira a costruire un quadro conoscitivo comune condiviso delle regole, dei rischi, in particolare quelli legati ai pericoli naturali, delle risorse e a rendere operativo un team transfrontaliero (NUVRE). Tutto ciò sarà trasferito agli operatori dei territori tramite azioni formative mirate e integrato nei piani di emergenza locali. Inoltre, si intende coinvolgere i cittadini che gravitano nella fascia di confine, in quanto primi operatori di protezione civile, per informarli meglio in caso di allerta (early warning) e per educarli a comportamenti più sicuri.</p>
    <br>
    <p>I partner coinvolti sono: <b>SUPSI, Regione Lombardia, ARPA Piemonte, Fondazione Politecnico di Milano, Politecnico di Milano (Dipartimento di Ingegneria Civile e Ambientale DICA), Comune di Como, Cantone Ticino.</b> GESTISCO ha una durata di 36 mesi; è stato avviato a novembre 2018 e terminerà a novembre 2021. </p>
    <br>

    {% load static %}
    <div style="text-align:center">
    <img src="{% static 'img/mappa_gestisco_confini_comunali_3.jpg' %}" style="width:70%; align="middle" alt="Area transfrontaliera interessata dal progetto Gestisco" >
    </div>
   
    <br><br><br>
        
        
{% endblock %}

