{% extends 'base.html'%} <!-- vuol dire inserisci qui la navigation toolbar contenuta in base -->

{% block content %}

{% load static %}

    <h1>Tutorial per utenti</h1>
    
    <br>

    <p>Di seguito sono disponibili alcuni video-tutorial che illustrano il funzionamento delle componenti del metaglossario riservate agli utenti registrati.</p>

    <br>

    <h3>Istruzioni per l'uso</h3>

    <p>Questa playlist costituisce una sorta di manuale per gli utenti del metaglossario. 
    Ogni video spiega come utilizzare la diverse funzioni del metaglossario e illustra le logiche da seguire per l'inserimento di nuova terminologia nel glossario. 
    In particolare, viene mostrato con alcuni esempi come procedere per differenziare adeguatamente le informazioni provenienti da glossari e altri documenti fonte.</p>


    <br>

    <div style="text-align:center">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/videoseries?list=PL7TibDAktHgP1tCyTjxJUvTg2XpzylCAd" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>



<!-- CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href={% static "css/file.css" %}> {% endcomment %}

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}

{% endblock %}