{% extends 'base.html'%} <!-- vuol dire inserisci qui la navigation toolbar contenuta in base -->

{% block content %}

    <h1>Perchè un metaglossario</h1>
    
    <br>



    <h3>La gestione delle emergenze in ambito transfrontaliero</h3>

    <br>

    <h3>La cultura di protezione civile in Italia</h3>
    <p>La cultura di Protezione Civile nel nostro Paese ha origini remote. Una trattazione dello sviluppo storico della materia, richiederebbe di per sé la compilazione una tesi di laurea. In sintesi possiamo affermare che la protezione civile nel nostro paese trae origine dalla risposta che la comunità ha dovuto porre in essere per difendersi dai rischi e delle criticità cui si è trovata esposta a livello locale (Bignami, 2010).</p>
    <p>Per tale motivo, anche se oggigiorno l’attività di Protezione Civile è definita dall’Ordinamento nell’ambito della Presidenza del Consiglio dei Ministri, alcuni suoi aspetti rimangono comunque segnati dall’approccio volontaristico che l’ha accompagnata nelle sue prime fasi storiche.</p>
    <p>Tra essi vi è il lessico operativo, coniato in modo indipendente dai gruppi e comunità presenti a livello locale, in relazione al contesto e ai rischi presenti esclusivamente sul territorio limitrofo (Martorano, 2004).</p>
    <p>Lo sviluppo autonomo e spazialmente differenziato del linguaggio della Protezione Civile rappresenta evidentemente un limite alla funzionalità della stessa, infatti, i gruppi di operatori provenienti da diverse parti del paese che vengono chiamate a cooperare sulla medesima evenienza possono non riuscire a comunicare tra di loro in modo efficace.</p>
    <p>Resta da valutare se potrebbe aver senso forzare l’introduzione di un lessico unico e univoco all’interno della Protezione Civile, a sostituzione degli idiomi coniati spontaneamente dalle varie comunità. L’operazione comporterebbe comunque una perdita di preziosa cultura organizzativa e, probabilmente, genererebbe inutili frizioni tra diverse squadre di intervento (Martelli, 2009).</p>
    <p>Pertanto, il senso di questo glossario non è quello di rendere uniforme il linguaggio della Protezione Civile, ma piuttosto, di fungere da elemento di trasversalità, consultabile sia in tempo di pianificazione sia durante un’emergenza, in modo tale che il personale convocato ad operare al di fuori del territorio di ordinaria amministrazione possa facilmente interagire con il gergo tecnico e regionale dei nuclei locali.</p>
    <br>
    <p>Bignami, Daniele F. <i>“Protezione Civile e riduzione del rischio disastri. Metodi e strumenti di governo della sicurezza territoriale e ambientale.”</i> Maggioli Editore, 2010.</p>
    <p>Martelli, Stefano. <i>“La comunicazione al servizio del volontariato. Le prestazioni comunicative dei nove Centri di servizio per il volontariato dell'Emilia-Romagna nel triennio 2004-2006.”</i> FrancoAngeli, 2009.</p>
    <p>Martorano, Vincenzo. <i>“Le competenze comunali in materia di Protezione Civile: organizzazione del servizio ed elaborazione del piano.”</i> HALLEY Editrice, 2004.</p>



    <br><br>


{% load static %}  <!-- Qui il tag è obbligatorio nonostante sia stato inserito dentro base.html -->

<!-- CSS -->
<link rel="stylesheet" type="text/css" href={% static "css/about_style.css" %}>

<!-- Javascript -->
{% comment %} <script type="text/javascript" src={% static "js/file.js" %}></script> {% endcomment %}

{% endblock %}